<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.entity.dsl/Entity" 
       class = "dsl.entity.entity.EntityPackage"
       genModel = "model/generated/Entity.genmodel" /> 
	
  </extension>




</plugin>
